@import url('fonts.css');

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://wallpapers.com/images/hd/l-a-metro-neon-city-dc94n3ibrxpq3dst.jpg');
    background-size: cover;
    background-position: center;
}

#start-screen, #how-to-play-screen, #level-select-screen, #game-container {
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#start-screen h1, #level-select-screen h1, #how-to-play-screen h1 {
    font-size: 3em;
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc, 0 0 40px #00ffcc, 0 0 50px #00ffcc;
    -webkit-text-stroke: 2px #00ffcc;
    -webkit-text-fill-color: #000;
    margin: 20px 0;
}

button {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(45deg, #00ffcc, #0066ff);
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #0066ff;
    transition: background 0.5s, box-shadow 0.5s;
}

button:hover {
    background: linear-gradient(45deg, #0066ff, #00ffcc);
    box-shadow: 0 0 20px #00ffcc, 0 0 30px #0066ff;
}

#minimap-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 150px;
    border: 2px solid #00ffcc;
    border-radius: 5px;
    overflow: hidden;
}

#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#score {
    font-size: 20px;
    margin: 0;
}

.crosshair {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.how-to-play-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.enemy-health-container {
    position: absolute;
    width: 100px;
    height: 10px;
    border: 1px solid #000;
    background-color: rgba(255, 0, 0, 0.5);
}

.enemy-health-bar {
    width: 100%;
    height: 100%;
    background-color: red;
}